body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

h1 {
    color: #333;
}

form {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="file"] {
    display: none;
}

label {
    display: block;
    margin: 10px 0;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

label:hover {
    background-color: #2980b9;
}

button[type="submit"] {
    background-color: #27ae60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #219a52;
}

button[type="button"] {
    background-color: #27ae60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #219a52;
}

#result {
    margin: 20px auto;
    max-width: 400px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: none;
}
